form {
    text-align: left;
}

span {
    font-size: 11px;
}

button {
    text-align: center;
    padding: 15px;
}


.submit {
    text-align: center;
    padding: 5px;
}

.submit:hover {
    transform: scale(1.1)
}


button:hover {
    transform: scale(1.1)
}

.back {
    margin-left: 65%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.buttons {
    text-align: center;
}

.btn {
    background-color: inherit;
    border: none;
}

h2 {
    text-align: center;
}

.date {
    font-weight: 600;
    
    font-size: 15px;
}

.time {
    font-weight: 500;
    font-size: 15px;
    
}

.right{
border: none;
background-color: inherit;
overflow: auto;
}


.back {
    background-color: inherit;
    border: none;
}



@media all and (min-width:800px) {
    .activity-log {
        margin-left: 20%;
        margin-right: 20%;

    }
    .right {
        margin: 0;
        width: 50%;
    }

    .left {
        margin: 0;
        width: 50%;
    }
    .container {
    margin-left: 15%;
    }

   
}