ul {
    list-style: none;
    border: solid;
    margin: 15%;
}

li {
    margin: 5%;
}

button {
    margin: 5%;
}

.link {
    color: black;
    font-weight: 600;
    font-family: "arial";
    font-size: 18px;
}

ul {
    padding: 5%;
}