

#landing-title {
   margin: 20%;
   font-size: 30px;
   color: #ffffff;
   font-weight: 300;
   font-style: italic;

}

#landing-title span {
  font-size: inherit;
  font-weight: 500;

}

.nav {
border: none;
background-color: inherit;
float: right;
margin: 1%;
}

.nav li, .nav li a {
  border: none;
  display: inline-block;
  color: white;
  text-transform: uppercase;
font-size: 15px;
font-weight: bold;
margin: 10px;
text-decoration: none;
}

h2 {
    color: #3C403D
}


.link {
    text-decoration: none;
    float: none;
}


.link2 {
    text-decoration: none;
    margin-left: 10px;
    border:solid;
    color: black;
    font-weight: 600;
    font-family: "arial";
    font-size: 18px;
    padding: 10px;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 50%; /* Full width */
  height: 50%; /* Full height */
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 10%;
  overflow: auto; /* Enable scroll if needed */
  /*background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);*/
    }
  .sidebar-nav:hover {
    color: grey;
  }

  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  .log {
      text-align: center;
      margin: 10px;
  }

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border: none;
    text-align: left;
  }


  
  .close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.shown {
  filter: blur(5px) grayscale(90%);
    -webkit-filter: blur(5px) grayscale(90%);
}

    
    
form {
    border: 3px solid #f1f1f1;
    padding: 10px;
    background-color: #f1f1f1;
  }
  
  input[type=email], input[type=password], input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

 .sign-btn {
    background-color: #0096c7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }


  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }


  .gallery {
    display: flex;
    flex-direction: column
  }
  
  .gallery img {
    width: 90%;
    margin: auto;
    margin-top: 5%;
  }
  

  .gallery:hover {
    border: 1px solid #777;
  }

  .sign-up {
      border: solid;
      border-radius: 10px;
      background-color: inherit;
      float: right;
  }

  .sidebar {
    display: flex;
    flex-direction: row;
  }

p {
  display: inline-block;
 margin: auto;
}
  .desc {
    padding: 15px;
    text-align: center;
    background-color: white;
  }

  

  .landing-body {
    background-color: #a8dadc;
    height: 100%;
    padding: 10%;
  }

  .sign-form {
    background-color: white;
    margin: auto;
    width: 100%;
  }

  header img {
    height: 80px;
  }
 
  .landing-box img{
    height: 200px;
    width: 100%;
  }

  .landing-box {
   width: 100%;
   padding: 1%;
   margin: 1%;
   height: 300px;
  }

  #landing-box-wrapper {
    display: flex;
    flex-direction: column;
    margin: 2%;
    background-color: #fffff7;
  }

  footer {
    background-color: #a8dadc;
    text-align: center;

  }
  .sign-form {
    margin: auto;
    padding: 0;
    background-color: white;

  }

a {
  float: right;
}
  .landing-how-to img {
    height: 300px;
    width: 100%; 
    border: solid;
  }
  
  #how-to-wrapper {
    background-color: #a8dadc;
    padding: 1%;
  }

  @media all and (min-width: 800px) {
  

  .sign-btn {
    padding: 10px;
  }
 
.modal-div {
  display: block;
}
.sidebar {
  flex-direction: column;
}

form {
  margin: auto;
  height: 100%;
}
.gallery {
  margin-left: 10%;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  }

  .gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;


  }

  .sidebar-nav {
    margin: 10%;
  }


 .landing-how-to {
   display: flex;
   flex-direction: row;
   margin: 10%;
 }

 #how-to-wrapper {
 padding: 5%;
 }
 .landing-how-to img {
   height: 300px;
   width: auto;
 }

 #landing-box-wrapper {
   flex-direction: row;
 }

    

  }
