/* For signup form */

.avatar {
  display: flex;
  margin: 20px;
}

.ava {
  border-radius: 50%;
}

.preview {
  height: 200px;
  width: 200px;
  margin: auto;
}

p {
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.submit {
  padding: 5px;
  font-weight: 600;
  font-family: arial;
}
